/* body{font-family: 'Roboto', sans-serif;
}

/*  */


.sec1 {
    background-image: url(images/header-bg.png);background-repeat: no-repeat;
background-position: left;background-size: 100%;}
.pinky{color:rgb(216, 182, 69);font-size: larger;font-family: 'Oi', cursive}
.Himyname{font-family: 'RocknRoll One', sans-serif;font-size: larger;}
#link1{
    text-decoration:none;
    /* color:whitesmoke; */
    font-weight: 1000;
    /* height: 225px; */
    padding: 15px 53px;border-radius:5px;
    /* background-image: linear-gradient(45deg,rgb(246, 4, 206),rgb(166, 40, 250)); */
}
#link2{
    text-decoration:none;
    /* color:whitesmoke; */
    font-weight: 1000;
    /* height: 225px; */
    padding: 15px 53px;border-radius:5px;
    /* background-image: linear-gradient(45deg,rgb(246, 4, 206),rgb(166, 40, 250)); */
}
.ImaB{font-family:  cursive;}
 .sec2{background-image: url(images/biography-bg.png);
background-repeat: no-repeat;background-size: cover;background-position: left}
.JS{width: 600px ;height: 360px;}
/* .sec2 background-image{height: 100%;} */
.biography{font-family:'Finger Paint',  cursive;font-weight: bolder;font-size: 52px;color: orange;}
/*
.firstclass img{width:100%;}


.h2{text-align:center;font-size:30px;}
.sec3{
    height:400px;background-image: url(images/latest-work-bg.png);background-repeat: no-repeat;background-position:left;background-size: 120%;}
.link2{text-decoration: none;
color:yellow;font-weight:700;background-image: linear-gradient(45deg,rgb(77, 39, 39),rgb(214, 14, 107));
padding: 12px 40px;border-radius: 6px;} */
/* .firstclas{float: left;
    margin-left: 5%;padding:1%;width: 25%;} */
/* .firstclas img{width:100%;}

  #loc img{width: 50%;position: absolute;top: 475px;left: -35px;}
    #newder img{margin-top: 30px;} */
#ima1{box-shadow: chocolate 15px 20px 45px;}
    #ima2{box-shadow: greenyellow 15px 20px 45px}
    #ima3{box-shadow: rgb(212, 196, 44) 20px 25px 50px;}
    #ima3:hover{box-shadow:rgb(60, 216, 236) 20px 25px 50px;}
    #ima1:hover{box-shadow:rgb(60, 216, 236) 20px 25px 50px;}
    #ima2:hover{box-shadow: rgb(60, 216, 236) 20px 25px 50px;}
    .path{color:white;

        background-image: linear-gradient(45deg,cyan,tomato);margin: auto;width: min-content;padding: 20px 130px;border-radius: 20px;}
        .sec4{height: 600px;width:100%;
            background-image: url(images/footer-bg.png);background-repeat: no-repeat;background-position: left;background-size: 120%;text-align: center;}
        h5{color:grey}
        footer{text-align:center ;}
        .clasy{color: grey;}
        .mail{text-decoration: none;
        }
        .robota{font-weight: 800;font-size: 35px;}
.circle{clip-path:circle()}
.icon{font-size:xx-large;}